* {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.gridCon {
    display: flex;
    width: 90vh;
    height: 90vh;
    flex-wrap: wrap;
    border: solid 1px black;
}

.gridBox {
    border: solid 1px rgb(216, 216, 216);
    box-sizing: border-box;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.ink {
    background-color: black;
}

button {
    padding: 1em;
    font-size: 20px;
}